<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=nd5jlirnq6dknmrsuoerfohbgn6kxeggmpqhd3eclgp3j26t"></script>

<div class="new_article">
  
  <%= simple_form_for @article, url: articles_path, method:'post', remote: true do |f| %>
    <%= f.input :user_id, input_html: { value: current_user.id}, as: :hidden %>
    <%= f.input :title, placeholder: '标题', label: '标题' %>
    <%= f.input :content, as: :text, label: false %>
    <%= f.button :submit, value: '发表', class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>

</div>

<script type="text/javascript">
  tinymce.init({selector: '#article_content'});
</script>